parameters:
	mspirkovYii2Rules:
		enableAllRules: true
		yiiAppDbProperties:
			- db
		actionComplexity:
			ifCount: 3
			foreachCount: 0
			forCount: 0
			whileCount: 0
			doWhileCount: 0
			switchCount: 0
			matchCount: 0
			ternaryCount: 1
			tryCatchCount: 1
		activeFormFieldValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		activeRecordRelationValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		componentBehaviorsValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		modelAttributeLabelsValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		modelRulesValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
			customValidators: []
		modelScenariosValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		widgetPropertiesValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		yiiCreateObjectValidation:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noComplexActionClasses:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noComplexControllerActions:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noControllerActionCallsViaThis:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noDbQueriesInActions:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noDbQueriesInControllers:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noDbQueriesInViews:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noDirectSuperglobals:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noDynamicQueryWhere:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noForbiddenYiiAppProperties:
			enabled: %mspirkovYii2Rules.enableAllRules%
			allowedProperties:
				- id
				- name
				- charset
				- language
				- timeZone
		noRedundantHtmlEncode:
			enabled: %mspirkovYii2Rules.enableAllRules%
		noYiiAppPropertyMutation:
			enabled: %mspirkovYii2Rules.enableAllRules%

parametersSchema:
	mspirkovYii2Rules: structure([
		enableAllRules: bool()
		yiiAppDbProperties: arrayOf(string())
		actionComplexity: structure([
			ifCount: int()
			foreachCount: int()
			forCount: int()
			whileCount: int()
			doWhileCount: int()
			switchCount: int()
			matchCount: int()
			ternaryCount: int()
			tryCatchCount: int()
		])
		activeFormFieldValidation: structure([
			enabled: bool()
		])
		activeRecordRelationValidation: structure([
			enabled: bool()
		])
		componentBehaviorsValidation: structure([
			enabled: bool()
		])
		modelAttributeLabelsValidation: structure([
			enabled: bool()
		])
		modelRulesValidation: structure([
			enabled: bool()
			customValidators: arrayOf(string())
		])
		modelScenariosValidation: structure([
			enabled: bool()
		])
		widgetPropertiesValidation: structure([
			enabled: bool()
		])
		yiiCreateObjectValidation: structure([
			enabled: bool()
		])
		noComplexActionClasses: structure([
			enabled: bool()
		])
		noComplexControllerActions: structure([
			enabled: bool()
		])
		noControllerActionCallsViaThis: structure([
			enabled: bool()
		])
		noDbQueriesInActions: structure([
			enabled: bool()
		])
		noDbQueriesInControllers: structure([
			enabled: bool()
		])
		noDbQueriesInViews: structure([
			enabled: bool()
		])
		noDirectSuperglobals: structure([
			enabled: bool()
		])
		noDynamicQueryWhere: structure([
			enabled: bool()
		])
		noForbiddenYiiAppProperties: structure([
			enabled: bool()
			allowedProperties: arrayOf(string())
		])
		noRedundantHtmlEncode: structure([
			enabled: bool()
		])
		noYiiAppPropertyMutation: structure([
			enabled: bool()
		])
	])

conditionalTags:
	MSpirkov\Yii2\PHPStan\Rules\ActiveFormFieldValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.activeFormFieldValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\ActiveRecordRelationValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.activeRecordRelationValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\ComponentBehaviorsValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.componentBehaviorsValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\ModelAttributeLabelsValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.modelAttributeLabelsValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\ModelRulesValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.modelRulesValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\ModelScenariosValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.modelScenariosValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\WidgetPropertiesValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.widgetPropertiesValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\YiiCreateObjectValidationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.yiiCreateObjectValidation.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoComplexActionClassesRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noComplexActionClasses.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoComplexControllerActionsRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noComplexControllerActions.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoControllerActionCallsViaThisRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noControllerActionCallsViaThis.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInActionsRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noDbQueriesInActions.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInControllersRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noDbQueriesInControllers.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInViewsRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noDbQueriesInViews.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoDirectSuperglobalsRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noDirectSuperglobals.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoDynamicQueryWhereRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noDynamicQueryWhere.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoForbiddenYiiAppPropertiesRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noForbiddenYiiAppProperties.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoRedundantHtmlEncodeRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noRedundantHtmlEncode.enabled%
	MSpirkov\Yii2\PHPStan\Rules\NoYiiAppPropertyMutationRule:
		phpstan.rules.rule: %mspirkovYii2Rules.noYiiAppPropertyMutation.enabled%

services:
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ActiveFormFieldValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ActiveRecordRelationValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ComponentBehaviorsValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ModelAttributeLabelsValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ModelRulesValidationRule
		arguments:
			customValidators: %mspirkovYii2Rules.modelRulesValidation.customValidators%
	-
		class: MSpirkov\Yii2\PHPStan\Rules\ModelScenariosValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\WidgetPropertiesValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\YiiCreateObjectValidationRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoComplexActionClassesRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoComplexControllerActionsRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoControllerActionCallsViaThisRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInActionsRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInControllersRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoDbQueriesInViewsRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoDirectSuperglobalsRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoDynamicQueryWhereRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoForbiddenYiiAppPropertiesRule
		arguments:
			allowedProperties: %mspirkovYii2Rules.noForbiddenYiiAppProperties.allowedProperties%
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoRedundantHtmlEncodeRule
	-
		class: MSpirkov\Yii2\PHPStan\Rules\NoYiiAppPropertyMutationRule

	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\ActionComplexityAnalyzer
		arguments:
			ifCount: %mspirkovYii2Rules.actionComplexity.ifCount%
			foreachCount: %mspirkovYii2Rules.actionComplexity.foreachCount%
			forCount: %mspirkovYii2Rules.actionComplexity.forCount%
			whileCount: %mspirkovYii2Rules.actionComplexity.whileCount%
			doWhileCount: %mspirkovYii2Rules.actionComplexity.doWhileCount%
			switchCount: %mspirkovYii2Rules.actionComplexity.switchCount%
			matchCount: %mspirkovYii2Rules.actionComplexity.matchCount%
			ternaryCount: %mspirkovYii2Rules.actionComplexity.ternaryCount%
			tryCatchCount: %mspirkovYii2Rules.actionComplexity.tryCatchCount%
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\DbQueriesUsageAnalyzer
		arguments:
			yiiAppDbProperties: %mspirkovYii2Rules.yiiAppDbProperties%
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\YiiAppAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\BaseObjectConfigAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\BaseObjectPropertyAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\ComponentConfigMethodAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\ComponentObjectConfigAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Analyzers\ExpressionTypeAnalyzer
	-
		class: MSpirkov\Yii2\PHPStan\Finders\MethodReturnExpressionFinder
	-
		class: MSpirkov\Yii2\PHPStan\Visitors\MethodReturnExpressionVisitor
	-
		class: MSpirkov\Yii2\PHPStan\Resolvers\ExpressionValueResolver
