parameters:
	mspirkovYii2Rules:
		aliases:
			'@app': tests/Rules/Data/ControllerViewExistenceValidation
			'@shared': tests/Rules/Data/ControllerViewExistenceValidation/views/shared
		viewExtensions:
			- twig
			- php
		viewPaths:
			'MSpirkov\Yii2\PHPStan\Tests\Rules\Data\ControllerViewExistenceValidation\Themed': tests/Rules/Data/ControllerViewExistenceValidation/resources/views/themed
			'MSpirkov\Yii2\PHPStan\Tests\Rules\Data\ControllerViewExistenceValidation\Themed\Special': tests/Rules/Data/ControllerViewExistenceValidation/resources/views/special/
			'\MSpirkov\Yii2\PHPStan\Tests\Rules\Data\ControllerViewExistenceValidation\Plain\': tests/Rules/Data/ControllerViewExistenceValidation/resources/views/plain
